// app global css

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.Link__Default {
    color: #8bc53f;
    text-decoration: underline;
    &:hover, &:focus, &:active {
        color: alpha(#8bc53f, 0.8);
        text-decoration: underline;
    }
}